test-apps/test-soap-server-with-dependencies/src/OperatorService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://com.sample" xmlns:tns="http://com.sample" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getInt" type="tns:getInt"/>

  <xs:element name="getIntResponse" type="tns:getIntResponse"/>

  <xs:complexType name="getInt">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getIntResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

